<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Contact Form</title>
    </head>
    <body>
    <a href="Index.html">Back to Index</a>
    <div class="card">
        <div class="card-header bg-warning">
            <h2>Contact Register</h2>
            <div class="card-body">
                <div class="row">
                    <form action="/Add">
                        <label for="name">Name:</label> <br />
                        <input type="text" name="name" id="name"> <br />
                        <button type="submit" value="add text">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <span>&copy;Julius Büchner</span>
    </footer>
    </body>
</html>