<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMLExecise1 Index</title>
</head>
<body>
<header>
    <section><a id="top"></a></section>
    <h1>Index</h1>
    <nav>
        <ul>
            <li><a href="#top">Go to top</a></li>
            <li><a href="#bottom">Go to bottom</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Goat">Wikipedia: Goats</a></li>
        </ul>
    </nav>
    <a href="contact.html">Register</a>
</header>
<div>
    <h2>Animals</h2>
    <p>It's obvious, but there are different kind of animals.</p>
    <article>
        <h3>Goats</h3>
        <p>The goat is an interesting and proud animal that does whatever it wants to.</p>
        <p>They usually have four legs and two horns.</p>
    </article>
    <article>
        <section><a></a></section>
        <h3>Dolphin</h3>
        <p>A little less interesting animal than the goat, but the dolphin can still surprise.</p>
        <p>As most know, a dolphin doesn't have arms or legs.</p>
    </article>
</div>
<aside>
    <h2>Countries and Cities</h2>
    <ul>
        <li>
            <h3>Sweden</h3>
            <ol>
                <li><p>Stockholm 2,5M</p></li>
                <li><p>Åmål 12,3K</p></li>
                <li><p>Vaxholm 11,9K</p></li>
            </ol>

            <h3>Angola</h3>
            <ol>
                <li><p>Luanda 4,5M</p></li>
                <li><p>Matala 263K</p></li>
                <li><p>Lobito 208K</p></li>
            </ol>

            <section><a id="bottom"></a></section>
            <h3>Palau</h3>
            <ol>
                <li><p>Koror 14K</p></li>
                <li><p>Kloulklubed 700</p></li>
                <li><p>Angaur 320</p></li>
            </ol>
        </li>
    </ul>
</aside>
<footer>
    <
    <span>&copy;Julius Büchner</span>
</footer>
</body>
</html>